body {
  background: #e0e0e0;
  color: #424242;
  font-family: monospace;

}

.content {
  padding: 10%;
}



.container {
  position: relative;
}

.container img {
  position: absolute;
  right: -200px;
  top: -400px;
  overflow: hidden;
  opacity: 0.3;
  z-index: 0;
}
